.poularPost__card{
  width:300px;
  height: 400px;
  border-radius: 5px;
  padding:10px;
  background-color: var(--background);
}

/* .post__image{
  width: 364px;
  height: 206px;
} */

.post__date{
  display: flex;
  gap: 10px;
}

.post__details{
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
}

.post__content {
  width: 300px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  color: var(--blue);
}
