.reviewcard {
  width: 150px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-right: 2px dotted var(--blue);
  /* border: 2px solid red; */
}

.reviewcard__avata {
  width: 97px;
  height: 97px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 48.75px;
  border-width: 1px;
  border: 2px dotted var(--blue);
}

.avata {
  width: 78px;
  height: 78px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 39px;
  background-color: var(--yellow);
}

.reviewcard h3 {
  width: max-content;
  opacity: 1;
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  letter-spacing: 0%;
  color: var(--blue);
  /* border: 2px solid red; */
}

.reviewcard p {
  width:max-content;
  height: 21px;
  opacity: 1;
  font-family:sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  color: var(--blue);
}
