.reviewcard {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 0;
} 

.reviewcard h3 {
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  letter-spacing: 0%;
  color: var(--blue);
}

.reviewcard p {
  font-family:sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  letter-spacing: 0%;
  color: var(--blue); 

} 
