.aboutus__section {
  height: 590px;
  display: flex;
  gap: 18px;
  position: relative;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  background-color: var(--white);
}

.aboutus__icon {
  position: absolute;
}

.greenball {
  width: 15px;
  height: 15px;
  top: 450px;
  left: 470px;
}

.redball {
  width: 15px;
  height: 15px;
  top: 170px;
  left: 120px;
}

.yellowball {
  width: 20px;
  height: 20px;
  top: 60px;
  left: 490px;
}

.aboutus__cloud {
  width: 60px;
  height: 40px;
  top: 27.59px;
  left: 57.59px;
}

.aboutus__birds {
  width: 150px;
  height: 80px;
  top: 330px;
  left: 850px;
}

.happy__student {
  top: 30px;
}

.happy__student {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 40px;
  left: 150px;
  top: 100px;
  z-index: 10;
  background-color: var(--white);
}

.happy__students--number {
  width: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.happy__students--details {
  width: 103.41000366210938px;
  opacity: 1;
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.happy__students__photo {
  width: 80px;
  height: 30px;
}

.happy__students {
  color: var(--yellow);
}

.happy {
  color: var(--blue);
}

.aboutus__left-section {
  width: 50%;
  display: flex;
  gap: 10px;
}

.playboy {
  width: 50%;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-bottom: 50px;
}

.playboy__background {
  width: 170px;
  height: 350px;
  position: relative;
  border: 2px solid var(--pink);
  border-radius: 100px;
}

.playboy img {
  width: 170px;
  height: 350px;
  position: absolute;
  left: 93px;
  bottom: 60px;
}

.acdemicgirl {
  margin-top: 60px;
}

.acdemicgirl img {
  width: 210px;
  height: 390px;
  position: absolute;
  left: 299px;
  bottom: 140px;
}

.acdemicgirl__background {
  width: 190px;
  height: 390px;
  position: relative;
  border: 2px solid var(--pink);
  border-radius: 100px;
}

.aboutus__right-section {
  width: 50%;
  padding: 15px 0px;
}

.aboutus__logo {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.aboutus__logo h6 {
  width: 97.2698745727539px;
  height: 32;
  opacity: 1;
  top: 23.55px;
  left: 962.75px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--yellow);
}

.aboutus__right-section h1 {
  width: 100%;
  height: 163px;
  opacity: 1;
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  line-height: 58.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: var(--blue);
}

.kindergarden {
  color: var(--yellow);
}

.aboutus__right-section p {
  width: 100%;
  height: 96.9000015258789px;
  opacity: 1;
  top: 191.9px;
  left: 937px;
  font-family:sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--text);
}

.our__focus{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
