.features__section {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}
