.instructor__section {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--cream);
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.instructor__birds {
  position: absolute;
  width: 100px;
  height: 90px;
  top: 6px;
  left: 900px;
}

.share__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 280px;
  left: 170px;
  cursor: pointer;
}

.instructor__img{
  width: 210px;
  height: 290px;
  margin-top: 10px;
  border-radius: 5px;
}

.instructor__heading{
  line-height: 0;
  /* border: 2px solid green; */
}

.instructor__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0;
}

.instructor__header p{
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  color: var(--blue);
}

.instructor__nav{
  display: flex;
  gap: 15px;
}

.instructor__navicons{
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.instructors{
  display: flex;
  gap: 10px;
}
