.newapproach__section {
  width: 100%;
  height: 600px;
  display: flex;
  gap: 25px;
  position: relative;
  background-color: var(--gray);
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.newapproach__icon {
  position: absolute;
}

.newapproach-birds {
  width: 100px;
  height: 100px;
  top: -11.01px;
  left: 20px;
}

.car {
  width: 65px;
  height: 58px;
  top: 132.08px;
  left: 400px;
}

.rainbow {
  width: 100px;
  height: 80px;
  top: 400px;
  left: 400px;
}

.wave {
  width: 50px;
  height: 30px;
  width: 76;
  top: 500px;
  left: 960px;
}

.drop {
  width: 120px;
  height: 90px;
  top: 110px;
  left: 870px;
}

.newapproach__left-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0px;
}

.newapproach__logo {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.newapproach__logo h6 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--yellow);
}

.newapproach__section h1 {
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 58.5px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: var(--blue);
}
.newapproach__section p {
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--text);
}

.our__focus {
  width: 70%;
}

.newapproach__right-section {
  width: 50%;
  display: flex;
  align-items: center;
}

.smilingbaby {
  width: 420px;
  position: absolute;
  z-index: 10px;
}
