.parents__section {
  width: 100%;
  height: 500px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}


.parents__header {
  width: 403px;
  height: 58px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 45px;
  color: var(--blue);
}

.parents__testimonial {
  width: 100%;
  display: flex;
  gap: 15px;
  /* border: 2px solid white; */
}

.parents__logos {
  position: absolute;
}

.parents__cloud {
  width:90px;
  height: 60px;
  top: 300px;
  left: -40px;
}

.parents__sun{
  width: 200px;
height: 200px;
top: 29.02px;
left: 800px;

}
