.review__section {
  width: 100%;
  height: 800px;
  background: linear-gradient(to bottom, transparent 50%, var(--white) 50%),
    url("/reviewbg.jpeg");

  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
  position: relative;
}

.reviewimg {
  width: 700px;
  height: 400px;
  opacity: 1;
  top: 160px;
  left: 300px;
}

.review__section-icons {
  position: absolute;
}

.whitecloud {
  width: 60px;
  height: 60px;
  opacity: 1;
  top: 300px;
  left: 30px;
}

.whitestar {
  width: 60px;
  height: 60px;
  opacity: 1;
  top: 83px;
  left: 900px;
}

.bluestar {
  width: 60px;
  height: 60px;
  opacity: 1;
  top: 450px;
  left: 910px;

}

.review__numbers {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* border: 2px solid black; */
}
