.welcome__section {
  width: 100%;
  height: 600px;
  background-color: var(--cream);
  position: relative;
}

.welcome__section__icons {
  position: absolute;
}

.birds {
  width: 120px;
  height: 90px;
  top: 13px;
  rotate: 2%;
}

.cancel {
  width: 20px;
  height: 20px;
  top: 70px;
  left: 480px;
}

.rays{
  width: 20px;
  height: 20px;
  top: 40px;
  left: 550px;
}

.cloud {
  width: 100px;
  height: 70px;
  top: 340px;
  left: 380px;
}

.sun {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 930px;
}

.cancel2 {
  width: 20px;
  height: 20px;
  top: 400px;
  right: 25px;
}

.green__design {
  width: 43.189998626708984px;
  height: 43.189998626708984px;
  top: 360px;
  left: 206px;
  background-color: var(--green);
  opacity: 0.4;
  border-radius: 21.6px;
}

.welcome__section__details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: var(--default-padding-left);
  padding-right: var(--default-padding-right);
}

.welcome__section__leftsection {
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome__section__header {
  width: 88%;
  height: 108px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: var(--blue);
}

.welcome__section__message {
  width: 80%;
  height: max-content;
  top: 447.05px;
  left: 300px;
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.welcome__section__cta {
  display: flex;
  gap: 20px;
}

.cta__nav {
  display: flex;
  gap: 16px;
  align-items: center;
}

.cta__play {
  width: 54px;
  height: 54px;
  text-align: center;
  justify-content: center;
  border-radius: 27px;
  background-color: var(--green);
  z-index: 10;
}

.cta__play--icon {
  height: 50px;
}

.cta__nav a {
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: var(--blue);
}

.welcome__section__rightsection {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.student {
  width: 50%;
  height:50px;
}

.student_img {
  width: 200px;
  height: 310px;
  position:absolute;
  bottom: 250px;
}

.student__background {
  width: 200px;
  height: 200px;
  position: relative;
  top: 140px;
  background-color: var(--yellow);
  border-top-left-radius: 110px;
  border-bottom-left-radius: 144px;
  border-bottom-right-radius: 170px;
}

.success__courses {
  width: 190px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  border-radius: 50px;
  position: relative;
  top: 105px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px var(--blue);
}

.success__courses--number {
  border-radius: 50px;
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: capitalize;
  color: var(--yellow);
}

.success__courses--message {
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--text);
}

.students__overview {
  width: 220px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  border-radius: 50px;
  position: relative;
  top: 120px;
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px var(--blue);
}

.students__number {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.students__details {
  width: 103.41000366210938px;
  opacity: 1;
  font-family: Sora;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.student__number {
  color: var(--green);
}

.student__title {
  color: var(--blue);
}

.students__photo {
  width: 80px;
  height: 30px;
}

.graduate {
  width: 50%;
  height: 50px;
}

.graduate__photo {
  width: 205px;
  height: 300px;
  position: absolute;
  bottom: 70px;
}

.graduate__background {
  width: 200px;
  height: 200px;
  position: relative;
  background-color: var(--green);
  border-top-left-radius: 144px;
  border-bottom-right-radius: 160px;
  border-top-right-radius: 180px;
}
