.logo {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  line-height: 0;
}

.logo h6 {
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 0px;
  letter-spacing: 0%;
  vertical-align: middle;
  color: var(--yellow);
}