.parents__card {
  width: 310px;
  height: 250px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 10px;
  border: 2px dashed var(--yellow);
}

.rate__star {
  width: 79px;
  height: 50px;
  top: 41px;
}

.Parents__message {
  width: 290px;
  height: 100px;
  font-family: sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 17px;
  line-height: 20px;
  color: var(--text);
}

.parents__info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.parents__name {
  width: 200px;
  font-family: sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 17px;
  letter-spacing: 0%;
  color: var(--blue);
}

.parents__title {
  width: 200px;
  height: 32px;
  font-size: 12px;
  color: var(--green);
  margin-top: 30px;
}
